doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href='https://fonts.googleapis.com/css?family=Cutive', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
  body
    block content

  block scripts
  script(type='application/javascript', src='/js/app.js')
