extend /layout

block content
  h2 Menus

  ul
    - each menu in menus
      li
        a(href="/menu/#{menu.id}") Edit #{menu.name}
        br
        a(href="/menu/preview/#{menu.id}") Preview and style #{menu.name}


  h3 Create Menu
  div(id='menu-form')
